@model QLNV.Web.Models.NhanVien.TaoNhanVien

@{
    ViewData["Title"] = "TaoNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm Nhân Viên</h1>
<div>
    <a  class="btn btn-outline-danger" asp-controller="NhanVien" asp-action="Index">Danh Sách Nhân Viên</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TaoNhanVien" asp-controller="NhanVien" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ho" class="control-label"></label>
                <input asp-for="Ho" class="form-control" />
                <span asp-validation-for="Ho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongBanId" class="control-label"></label>
                <input asp-for="PhongBanId" class="form-control" />
                <span asp-validation-for="PhongBanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm Nhân Viên" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
